{% extends "core/base.html" %}


{% block title %} General Plan Summary {% endblock %}

{% block content %}

<div class="summary-card">

    <ul>
        <li><strong>Plan Name:</strong> {{ plan.name }}</li>
        <li><strong>Specialist:</strong> {{ specialist_name }}</li>
        <li><strong>Description:</strong> {{ plan.description }}</li>
        <li><strong>Price:</strong> {{ plan.price }} SAR</li>
        <li><strong>Payment Method:</strong>
          {% for method in payment_methods %}
            {{ method }}{% if not forloop.last %} or {% endif %}
          {% endfor %}
        </li>
      </ul>
      <a href="{% url 'payments:start_checkout_general' plan.id %}">Proceed to payment</a>

</div>
    
    {% endblock %}