{% extends "core/base.html" %}
{% load static %}

{% block redirct %}   <meta http-equiv="refresh" content="5; url={% url 'users:my_plans_view' %}"> {% endblock %}

{% block title %}Payment Success{% endblock %}
{% block content %}
<section class="payment-success pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-7">
                <div class="card text-center">
                    <i class="fa-solid fa-circle-check"></i>
                    <h1>Payment Successful</h1>
                    <p>Your payment has been processed successfully.</p>
                    <p>Thank you for your purchase!</p>
                    <small>You will be redirect after 5 sec</small>
                    <span class="loader"></span>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}