{% extends 'core/base.html' %}
{%load static%}
{% block title %}  Progress Report {% endblock %}

{% block content %}
<section class="progress-sec pt-5 pb-5">
  <h2 class="main-title">Progress</h2>
  <div class="container">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Weight</th>
            <th>Notes</th>
            {% if is_specialist %}
              <th>Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for report in progress_reports %}
            <tr>
              <td>{{ report.date }}</td>
              <td>{{ report.weight }} kg</td>
              <td>
                {% if report.note %}
                  {{ report.note|truncatechars:40 }}
                {% else %}
                  No notes
                {% endif %}
              </td>
              {% if is_specialist %}
                <td>
                  <a href="#" class="btn d-block m-auto mb-2">Comment</a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <a href="{% url 'users:create_progress_report_view' subscription_id %}" class="btn btn-a d-block w-100 mt-5">new progress</a>

  </div>
</section>

{% endblock %}
