{% extends 'core/base.html' %}
{%load static%}
{% block title %}  Progress Report {% endblock %}

{% block content %}
<section class="progress-sec pt-5 pb-5">
  <h2 class="main-title">Progress</h2>
  <div class="container">
    <div class="mb-4">
      <a href="{% url 'users:subscription_detail' subscription_id %}" class="btn btn-a">
        <i class="fa fa-arrow-left me-2"></i> Back to Plan
      </a>
    </div>
  <div class="container">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Weight</th>
            <th>Notes</th>
            {% if request.user.specialist %}
              <th>Comment</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for report in progress_reports %}
            <tr>
              <td>{{ report.date }}</td>
              <td>{{ report.weight }} kg</td>
              <td>
                {% if report.note %}
                  {{ report.note|truncatechars:40 }}
                {% else %}
                  No notes
                {% endif %}
              </td>
              <td>
              {% if report.specialist_comment %}
                {{report.specialist_comment}}
              {% else %}
                {% if request.user.specialist %}
                <form action="{% url 'specialists:add_comment' subscription_id %}" method="post" class="bg-white p-4">
                  {% csrf_token %}
                  <input type="hidden" name="progress_id" value="{{report.id}}">
                  <div class="mb-3">
                    <textarea class="form-control" name="specialist_comment" placeholder="write your comment ... "></textarea>
                  </div>
                  
                    <input type="submit" value="Add comment" class="btn btn-a d-block">
                </form>
                {% else %}
                  No comment 
                </td>
                {% endif %}
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {%if request.user.person and not is_cancelled%}
    <a href="{% url 'users:create_progress_report_view' subscription_id %}" class="btn btn-a d-block w-100 mt-5">new progress</a>
    {%endif%}
  </div>
</section>

{% endblock %}
