/* Main Conifg */
:root {
  /* Light Mode Colors */

  --primary-color: #328E6E;
  --secondary-color: #67AE6E;
  --accent-color: #90C67C;
  --accent-hover: #328E6E;
  --background-color: #D2F1E4;
  --sec-bg: #cce8dd;


  --text-color: #333;
  --heading-color: #328E6E;
  --link-hover: #67AE6E;

  --grey-color: #888;
  --card-hover-bg: #e8f2c9;
  --custom-danger: #ff4d4f;
  --custom-danger-hover: #d9363e;
  --custom-success: #52c41a;
  --custom-success-hover: #389e0d;
  /* Transition */
  --t-duration: 0.3s;

  /* Dark Mode Colors */
  --primary-color-dark: #67AE6E;
  --secondary-color-dark: #328E6E;
  --accent-color-dark: #90C67C;
  --accent-hover-dark: #67AE6E;
  --background-color-dark: #1B1B1B;
  --text-color-dark: #F1F1F1;
  --heading-color-dark: #90C67C;
  --link-hover-dark: #67AE6E;

  /* Button Colors */
  --btn-color: var(--primary-color);
  --btn-hover-color: #276254;

  --footer-bg: #1e3d34;
  /* deep green */
  --footer-text: #e0f5ec;
  /* light mint for contrast */
  --footer-link: #90C67C;
  --footer-link-hover: #67AE6E;

}

body {
  font-family: "Poppins", sans-serif;
  /* background: linear-gradient(to bottom right, #e0f7fa, #f1f8e9); */

}

.specialists-all,
.subscription-plans-sec,
.general-plans,
.profile,
.specialists-request-sec,
.specialists-manage-sec,
.view-subscriptions,
.payment-summary,
.payment-success,
.contact-message,
.progress-sec,
.subscription-detail,
.view-subscriptions,
.vertify,
.subscription-details {
  min-height: calc(100vh - 56px);
}

.login,
.register,
.general_detail {
  /* min-height: calc(100vh - 56px - 162.5px); */
  min-height: calc(100vh - 72px);

}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  transition: var(--t-duration);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--btn-hover-color);
}

::selection {
  color: white;
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
}

.main-title {
  position: relative;
  margin: 0px auto 80px;
  padding: 10px 20px;
  width: fit-content;
  border: 2px solid black;
  font-size: 30px;
  transition: var(--t-duration);
  text-transform: uppercase;
  z-index: 1;
  border-radius: 45px;

}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--heading-color);
}

.main-title::before {
  left: -30px;

}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;


}

.main-title:hover {
  color: white;
  border-color: var(--heading-color);
  transition-delay: 0.5s;
}

@media (max-width:570px) {
  .main-title {
    font-size: 24px;
  }
}

@keyframes left-move {
  50% {
    width: 12px;
    height: 12px;
    left: 0;
  }

  100% {
    left: 0;
    width: 70%;
    height: 100%;
    left: 0;
    border-radius: 28px;

  }
}

@keyframes right-move {
  50% {
    width: 12px;
    height: 12px;
    right: 0;
  }

  100% {
    right: 0;
    border-radius: 28px;
    width: 70%;
    height: 100%;
  }
}

.main-title-2 {
  margin-bottom: 30px;
  color: var(--primary-color);
}

textarea {
  resize: none;
}

input {
  caret-color: #2E7D32;
}

::placeholder {
  transition: var(--t-duration);
}

input:focus::placeholder {
  opacity: 0;
}

.form-control {
  transition: var(--t-duration);
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: none;
}

.form-select:focus {
  border-color: var(--primary-color);
  box-shadow: none;
}

.btn-a {
  background-color: var(--btn-color);
  color: white;
}

.btn-a:active {
  background-color: var(--btn-color) !important;
  color: white !important;
}

.btn-a:hover {
  color: white;
  background-color: var(--btn-hover-color);
}

.to-top {
  bottom: 10px;
  right: 10px;
  background-color: var(--accent-color);
  color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: var(--t-duration);
  cursor: pointer;
  z-index: 9999;
  transition: var(--t-duration);
  opacity: 0;
  transition: opacity var(--t-duration) ease;
}

.to-top:hover {
  background-color: var(--accent-hover);
}

.to-top.show {
  opacity: 1;
}

/* Reset */

.btn:active {
  border: none;
  color: none !important;
}

.message-container {
  position: fixed;
  top: 70px;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
}

.modal {
  z-index: 9999;
}

/* End Main Config */
/* Start Nav */
.navbar {
  background-color: var(--background-color);
  position: sticky;
  top: 0px;
  z-index: 999;
  min-height: 72px;
}

.navbar .navbar-brand {
  color: var(--primary-color);
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .nav-link,
.navbar .dropdown {
  /* color: var(--secondary-color); */
  color: #276254;
  transition: var(--t-duration);
}

.navbar .nav-link:hover,
.navbar .dropdown:hover,
.navbar .dropdown-menu .dropdown-item:hover,
.navbar .nav-link:active,
.navbar .dropdown:active,
.navbar .dropdown-menu .dropdown-item:active {
  color: var(--link-hover) !important;
}

.navbar .dropdown-menu {
  background-color: var(--background-color);
  min-width: 250px;
}

.navbar .mode .light-mode {
  color: #facc15;
  transition: var(--t-duration);
}

.navbar .mode .light-mode:hover {
  color: #f59e0b;
}

.navbar .mode .dark-mode {
  color: #38bdf8;
  transition: var(--t-duration);
}

.navbar .mode .dark-mode:hover {
  color: #0ea5e9;
}

.navbar .dropdown-menu .dropdown-item {
  color: var(--secondary-color);
  transition-duration: var(--t-duration);
}

.navbar .dropdown-menu .dropdown-item:hover {
  color: var(--link-hover-dark);
  background-color: transparent;
}

.navbar .drop-links {
  /* min-width: 250px; */
  border: 1px solid #90C67C;
  border-radius: 8px;

}

.navbar .drop-links li {
  transition: var(--t-duration);
}

.navbar .drop-links li:hover {
  padding-left: 5px;
}

.navbar .drop-links li a {
  color: #276254;
  transition: var(--t-duration);
}

.navbar .drop-links li a:hover {
  color: var(--link-hover);
}

.navbar .drop-links li.logout {
  border-top: 1px solid #c8e0b9;
  margin-top: 8px;
  padding-top: 8px;

}

.navbar .btns-sm a {
  color: #276254;
  transition: var(--t-duration);
}

.navbar .btns-sm a:hover {
  color: var(--link-hover);

}

/* End Nav */
/* Start Home Page */
.landing {
  height: calc(100vh - 72px);
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  background-image: url(../images/healthy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.landing::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.329);
  width: 100%;
  height: 100%;
  z-index: -1;

}

.landing .content {
  background-color: #328e6ea9;
  width: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.landing .content .left {
  /* text-align: center; */
  width: 65%;
}

@media(max-width:767px) {
  .landing .content .left {
    width: 100%;
  }
}

.landing .content .left h1 {
  color: white;
  font-size: 40px;
  text-align: center;
}

.landing .content p {
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
  color: white;
}

@media(max-width:600px) {
  .landing .content .left h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .landing .content p {
    font-size: 15px;
  }
}

.landing .content a {
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 10px;
  background-color: white;
  color: var(--primary-color);
  font-weight: 600;
}

.landing .content .right {
  width: 50%;
}

.landing .content .right img {
  max-width: 100%;
  width: 100%;
}

.services {
  background-color: var(--sec-bg);
}

.services .box {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
  position: relative;
}

.services .box::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2px;
  background-color: var(--primary-color);
  height: 0%;
  transition: var(--t-duration);
}

.services .box:hover::before {
  height: 100%;
}

.services .box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  background-color: var(--primary-color);
  height: 0%;
  transition: var(--t-duration);
}

.services .box:hover::after {
  height: 100%;
}

.services .box .info {
  min-height: 120px;
}

.services .box img {
  height: 150px;
}

.specialists .box {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.specialists .box::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  transition: var(--t-duration);

}

.specialists .box:hover::before {
  width: 100%;
}

.specialists .box .head .left .name a {
  color: #198754;
  font-weight: 600;
  transition: var(--t-duration);
}

.specialists .box .head .left .name a:hover {
  color: #0c482c;

}

.specialists .box .head .left .name span {
  background-color: #e0f3ec;
  color: #328e6e;
  font-size: 14px;
  font-weight: 500;
}

.specialists .box .head .left .img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.specialists .box .head .right {
  align-self: flex-start;
  background-color: #e0f3ec;

}

.specialists .box .head .right span {
  color: #328e6e;

}

@media (min-width:992px) {
  .specialists .row>div:nth-child(2) {
    transform: translateY(15px);
  }

  .specialists .row>div:nth-child(3) {
    transform: translateY(30px);
  }
}

.general {
  background-color: var(--sec-bg);
}

/* testimonials */
.testimonials {
  background-color: var(--sec-bg);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  opacity: 0.6;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}

.testimonial-box {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}


.testimonial-box img {
  border-radius: 50%;
}

.testimonial-box p {
  font-size: 14px;
  line-height: 1.6;
}

@media (max-width: 1024px) {
  .swiper-slide {
    transform: scale(0.95);
  }
}

@media (max-width: 768px) {
  .swiper-slide {
    transform: scale(1);
  }
}

@media (max-width: 576px) {
  .swiper-slide {
    transform: scale(1);
  }
}

@media (max-width: 576px) {
  .swiper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* testimonials */


/* End Home Page */
/* Start Login  */
.form-sec form {
  width: 600px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);

  border-radius: 12px;
}

.form-sec form input[type="submit"] {
  background-color: var(--btn-color);
  color: white;
}

.form-sec form input[type="submit"]:hover,
.form-sec form input[type="submit"]:active {
  background-color: var(--btn-hover-color) !important;
  color: white !important;

}

.form-sec .btns {
  width: 600px;
  display: flex;
  justify-content: space-around;
}

.form-sec .btns button {
  color: white;
  border: 0;
  background-color: var(--btn-color);
  border-radius: 12px;
  width: 48%;
}

.form-sec .btns button:hover,
.form-sec .btns button:focus {
  background-color: var(--btn-hover-color);
}

.form-sec form .form-step button {
  background-color: var(--accent-color);
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  width: 49%;
  margin-bottom: 10px;
  transition: var(--t-duration);
}

.form-sec form .form-step button:hover {
  background-color: var(--accent-hover);
}

.form-sec form .step button:not(.add):not(.cancel) {
  background-color: var(--accent-color);
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  width: 49%;
  margin-bottom: 10px;
}

@media (max-width:767px) {
  .form-sec form {
    width: 100%;
  }

  .form-sec .btns {
    width: 100%;
  }
}

/* End Login  */
/* Start Subscription list */
.plans .box {
  /* background-color: var(--background-color); */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  color: var(--text-color);
  border-bottom: 3px solid var(--primary-color);
  overflow: hidden;
}


.plans .box .name img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 50%;
}

.plans .box .name span {
  background-color: #e0f3ec;
  color: #328e6e;
}


.plans .box .img img {
  height: 200px;
  width: 100%;
}

.plans .box .name .right {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #e0f3ec;
}

.plans .box .name .right span {
  color: #328e6e;
}

.plans .box .info a:first-child {
  color: #198754;
  font-weight: 600;
  transition: var(--t-duration);
}

.plans .box a:hover:first-child {
  color: #0c482c;
}

.plans .box a:last-child {
  color: white;
  transition: var(--t-duration);
  background-color: var(--btn-color);
}

.plans .box a:hover:last-child {
  background-color: var(--btn-hover-color);

}


.plans .box .card-header span {
  color: white;
}

.plans .box .card-header span.success {
  background-color: var(--primary-color);
}

.plans .box .card-header span.expired {
  background-color: var(--custom-danger);
}

.plans .box .info p span {
  color: var(--grey-color);
  font-size: 16px;
}

.plans .box .info p {
  font-size: 14px;
}

/* End Subscription list*/
/* Start info sec */
.info-sec .row {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);

  border-radius: 12px;
}

.info-sec .row .personal-info img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.info-sec .row .profile-info {
  border-left: 1px solid #eee;
}

.info-sec .row .profile-info-row:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.info-sec .row .profile-info-row h4 {
  color: var(--grey-color);
}

.info-sec .row .profile-info-row div span:first-child {
  color: var(--grey-color);
}

.info-sec .row .profile-info-row div span:last-child {
  font-size: 14px;
}

.certificates .box {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  transition: 0.5s;
  border-bottom: 3px solid var(--primary-color);
  min-height: 73px;
}

.certificates .box:hover {
  background-color: var(--card-hover-bg);
  transform: translateY(3px);
  border-bottom: 0px solid var(--card-hover-bg);
}

@media (max-width:991px) {
  .info-sec .row .profile-info .profile-info-row>div {
    width: 100% !important;
  }
}

@media (max-width:767px) {
  .info-sec .row .profile-info {
    border-left: none;
  }

}

/* End info sec */
/* Start Specialists Request */
.specialists-request .row {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);

  border-radius: 12px;
}

.specialists-request .row .data .row-data {
  width: 50%;
}

/* .specialists-request .row .btns .view:active {
  color: white !important;
  background-color: var(--primary-color) !important;
} */
.specialists-request .row .btns button,
.specialists-request .row .btns a {
  width: 50%;
}



.specialists-request .row .btns .approve {
  background-color: var(--custom-success);
}

.specialists-request .row .btns .approve:hover,
.specialists-request .row .btns .approve:active {
  background-color: var(--custom-success-hover) !important;
  color: white !important;
}

.specialists-request .row .btns .reject {
  background-color: var(--custom-danger);
}

.specialists-request .row .btns .reject:hover,
.specialists-request .row .btns .reject:active {
  background-color: var(--custom-danger-hover) !important;
  color: white !important;
}

.badge-container {
  align-self: flex-start;
  position: absolute;
  transform: translateY(-50%);
  left: 20px;
  top: 0;
}

.badge-container.active {
  background-color: #e0f3ec;
}

.badge-container.active span {
  color: #328e6e;
}

.badge-container.deactive {
  background-color: #fcebea;
}

.badge-container.deactive span {
  color: #e3342f;
}



@media (max-width:767px) {
  .specialists-request .row .data .row-data {
    width: 100%;
  }
}

/* End Specialists Request */
/* Start view subscriptions */
.subscriptions .row .box {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);

  border-radius: 12px;
  border-bottom: 3px solid var(--primary-color);
}

/* End view subscriptions */

/* Start Craete Plan Form */

.form-sec .row {
  gap: 4px;
}

.form-sec .row .remove {
  position: absolute;
  top: 0;
  right: 0;
}

.form-sec input {
  width: 100%;
}

/* End Craete Plan Form */
/* Start subscription-detail */
.subscription-detail .main-content .box {
  border: 1px solid #eee;
}

.subscription-detail .card {
  overflow: hidden;
}

.subscription-detail .custom-card {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);

  border-radius: 12px;
  border: 1px solid #EEE;
}

.subscription-detail .custom-btn {
  background-color: var(--btn-color);
  border: 1px solid #EEE;
  border-radius: 12px;
  color: #fff;
  transition: var(--t-duration);
}

.custom-btn:hover {
  background-color: var(--btn-hover-color);
  color: #fff;
}

/* Start subscription-detail */
/* .avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
} */

/* Start vertify */
.vertify form {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);

  border-radius: 12px;
  width: 50%;
}

@media (max-width:767px) {
  .vertify h2 {
    font-size: 20px;
  }

  .vertify form {
    width: 100%;
  }
}

/* End vertify */
/* Start View Progress */
.table {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(50, 142, 110, 0.1);
}

.table thead th {
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.table tbody td {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  color: var(--text-color);
  border-top: 1px solid #e1eecc;
}

/* End View Progress */
/* Filter */
.filter label svg {
  color: var(--primary-color);
}

/* Filter */

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/* Footer */
footer {
  background-color: var(--footer-bg);
}

footer h2 {
  color: var(--footer-text);
}

footer .footer-links a,
footer .social a {
  color: var(--footer-link);
  text-decoration: none;
  transition: var(--t-duration);
}

footer .footer-links a:hover,
footer .social a:hover {
  color: var(--footer-link-hover);
}

footer .social a {
  font-size: 20px;
  padding: 19px;
  border: 1px solid;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: var(--footer-text)
}

/* Footer */
/* Spikes */
.spikes {
  position: relative;
  background: #2c3e50;
  /* height: 50vh; */
}

.spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 10px;
  background-size: 15px 100%;
  background-image: linear-gradient(135deg, #fff 25%, transparent 25%), linear-gradient(225deg, #fff 25%, transparent 25%);
  background-position: 0 0;
}

.spikes1 {
  position: relative;
  background: #2c3e50;
  /* height: 50vh; */
}

.spikes1::after {
  content: '';
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 10px;
  background-size: 15px 100%;
  background-image: linear-gradient(135deg, #cce8dd 25%, transparent 25%), linear-gradient(225deg, #cce8dd 25%, transparent 25%);
  background-position: 0 0;
}

/* Spikes */
/* Dasboard */
.dashboard {
  background-color: #f4f6f8;
  margin: 0;
}

.dashboard-title {
  margin-bottom: 30px;
  position: relative;
  width: fit-content;
  color: var(--primary-color);
  font-weight: 800;
}

/* .dashboard-title::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #eee;
  bottom: -8px;
  left: 0;
} */
.dashboard-title::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 60%;
  background-color: var(--primary-color);
  bottom: -8px;
  left: 0;
}

.dashboard .card {
  background: #fff;
  border-radius: 16px;
  border: none;
  padding: 35px 24px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.3s;
  width: 100%;
}

.dashboard .card-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row !important;
  gap: 20px;
}

.dashboard .card:hover {
  transform: translateY(-5px) !important;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.dashboard .card-1 .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  /* margin-bottom: 12px; */
  font-size: 24px;
  /* color: white; */
}

.card-1.general_plan_count {
  border-bottom: 4px solid #ff4b80;
}

.card-1.general_plan_count .icon {
  background-color: #ffeef2;
}

.card-1.general_plan_count .icon {
  color: #ff4b80;
}

.card-1.total_subscribers {
  border-bottom: 4px solid #752bdf;
}

.card-1.total_subscribers .icon {
  background-color: #f3ecfc;
}

.card-1.total_subscribers .icon {
  color: #752bdf;
}

.card-1.subscription_plan_count {
  border-bottom: 4px solid #41b6ff;
}

.card-1.subscription_plan_count .icon {
  background-color: #effaff;
}

.card-1.subscription_plan_count .icon svg {
  color: #41b6ff;
}

.card-1.subscription_plan_count .link {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #41b6ff;
}

.card-1.total_earnings {
  border-bottom: 4px solid #ff8b4f;
}

.card-1.total_earnings .icon {
  background-color: #fff4ef;
}

.card-1.total_earnings .icon svg {
  color: #ff8b4f;
}


.dashboard .card-1 .info {
  width: 50%;
  flex: 1;
}

.dashboard .card-1 .info h5 {
  margin: 0 0 12px;
  font-size: 15px;
  color: var(--grey-color);

}

.dashboard .card-1 .info p {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.dashboard .card-2.new-users {
  border-bottom: 4px solid #36a2eb;
}

.dashboard .card-2.new-users h5 svg {
  color: #36a2eb;
}

.dashboard .card-2.new-users-months {
  border-bottom: 4px solid #4bc0c0;
}

.dashboard .card-2.new-users-months h5 svg {
  color: #4bc0c0;
}

.dashboard .card-2 {
  background: #fff;
  border-radius: 16px;
  border: none;
  padding: 35px 24px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.3s;
  display: flex;
  /* justify-content: center ;
  align-items: center ; */
  flex-direction: column !important;
  gap: 20px;
  width: 100%;
}

.dashboard .card-2 .monthly-earnings {
  width: 100% !important;
  height: 300px !important;
}

.dashboard .card-2.monthly-earnings {
  border-bottom: 4px solid #7f5af0;
}

.dashboard .card-2.monthly-earnings h5 svg {
  color: #7f5af0;
}

.dashboard .card-2.gender {
  border-bottom: 4px solid #ff4069;
}

.dashboard .card-2.gender h5 svg {
  color: #ff4069;
}

.dashboard .card-2 .gender {
  width: 300px !important;
  height: 300px !important;
}

@media (max-width:1999px) {
  .dashboard .card-2 .gender {
    width: 200px !important;
    height: 200px !important;
  }
}

.dashboard .card-3 canvas {
  height: 300px !important;
  width: 80% !important;
}

.dashboard .top_specialist {
  border-bottom: 4px solid #f1c40f;

}

.dashboard h5 svg {
  color: #f1c40f;
  margin-right: 10px;

}

.dashboard .card-3.monthly {
  border-bottom: 4px solid #ff6384;

}

.dashboard .card-3.monthly h5 svg {
  color: #ff6384;

}

.dashboard .card-3.subscribersChart {
  border-bottom: 4px solid #f2545b;
}

.dashboard .card-3.subscribersChart h5 svg {
  color: #f2545b;

}

.dashboard .top_specialist ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dashboard .top_specialist ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  border-bottom: 1px solid #eee;
}

.dashboard .top_specialist ul li .left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard .top_specialist ul li svg {
  color: #f1c40f;
  font-size: 18px;
}

.dashboard .top_specialist ul li span.name {
  font-weight: 500;
  color: #333;
}

.dashboard .top_specialist ul li span.score {
  font-size: 14px;
  color: #777;
}

.card.pending {
  border-bottom: 4px solid #ffae00;
}

.card .card-head {
  display: flex;
  margin-bottom: 15px;
}

.card .card-head svg {
  font-size: 24px;
  color: #ffae00;
  margin-right: 10px;
}

.card .card-head h4 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.card .card-body {
  text-align: center;
}

.card .card-body .count {
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 10px;
}

.card .view-btn {
  background-color: #ffae00;
  color: white;
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s;
}

.card .view-btn:hover {
  background-color: #e69c00;
}

/* Dasboard */

/* subscription-details */

.subscription-details .img img {
  border-radius: 16px;
  width: 100%;
  margin-bottom: 10px;
}

@media (max-width:767px) {
  .subscription-details .img img {
    height: 300px;
  }
}

.subscription-details .card {
  background: #fff;
  border-radius: 16px;
  border: none;
  padding: 35px 24px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex-direction: column !important;
  justify-content: space-between;
}
.subscription-details .card {
  transform: translate(0) !important ;
}
.subscription-details .img  {
  width: 100%;
  border-radius: 16px;

}
.card:hover {
  transform: translate(0) !important;
}

/* subscription-details */
/* pagination */

nav .pagination .page-item-1.number {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

nav .pagination .page-item-1.number a {

  color: white;

}

nav .pagination .page-item-1.icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

}

nav .pagination .page-item-1.icon a {
  color: var(--accent-color);
  font-size: 30px;

}

/* pagination */
/* payment-success */
.payment-success .card {
  background: #fff;
  border-radius: 16px;
  border: none;
  padding: 35px 24px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex-direction: column !important;
  justify-content: space-between;
}

.payment-success .card svg {
  font-size: 40px;
  color: var(--custom-success);
  margin-bottom: 20px;
}

/* payment-success */
/* Spin */
.loader {
  color: var(--primary-color);
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  margin: 40px auto;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em,
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

/* Spin */
/* About */
.about-img {
  height: 50vh;

}
.about-img img {
  height: 100%;
  width: 100%;
  /* object-fit: fill; */

}

.about-sec p,
.our-mission-sec p,
.our-story-sec p,
.team-member-sec p {
  max-width: 1000px;
  margin: auto;
}

.our-mission-sec,
.team-member-sec {
  background-color: var(--sec-bg);
}

.about p span {
  color: var(--primary-color);
  font-weight: 800;
}

.team-member .card {
  background: #fff;
  border-radius: 16px;
  border: none;
  padding: 35px 24px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid var(--primary-color);
  background: linear-gradient(135deg, #fdfdfd, #eafaf1);
  transition: transform 0.3s ease;
}

.team-member .card:hover {
  transform: translateY(-5px) ;
}

.team-member .card .img img {
  width: 50px;
  height: 50px;
}

.team-member .info h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
  margin-top: 25px;
}

.team-member .info .role {
  display: block;
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}

.team-member .info .description {
  font-size: 0.9rem;
  color: #444;
  line-height: 1.4;
  margin-top: 15px;
}

.team-member ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.team-member ul li {
  padding: 0 10px;
}

.team-member ul li a {
  color: var(--btn-color);
  transition: var(--t-duration);
}

.team-member ul li a:hover {
  color: var(--btn-hover-color);
}

.team-member ul li a svg {
  font-size: 20px;
}

/* About */
/*  */
.certificate-image {
  width: 400px;
}
/*  */