/* Main Conifg */
:root {
  /* Light Mode Colors */
  --primary-color: #4CAF50;
  --secondary-color: #81C784;
  --accent-color: #FF7043;
  --accent-hover: #F4511E;
  --background-color: #F9FBE7;
  --text-color: #333;
  --heading-color: #2E7D32;
  --link-hover: #388E3C;

/* Transition */
--t-duration: 0.3s;

/* Dark Mode Colors */
  --primary-color-dark: #81C784;
  --secondary-color-dark: #4CAF50;
  --accent-color-dark: #FF8A65;
  --accent-hover-dark: #FF7043;
  --background-color-dark: #1B1B1B;
  --text-color-dark: #F1F1F1;
  --heading-color-dark: #A5D6A7;
  --link-hover-dark: #66BB6A;

}
body {
  font-family: "Roboto Condensed", sans-serif;
}
/* Start Nav */
.navbar {
  background-color: var(--background-color);
}
.navbar .navbar-brand {
  color: var(--primary-color);
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .nav-link,
.navbar .dropdown {
  color: var(--secondary-color);
  transition: var(--t-duration);
}
.navbar .nav-link:hover,
.navbar .dropdown:hover,
.navbar .dropdown-menu .dropdown-item:hover {
  color: var(--link-hover);
}
.navbar .dropdown-menu {
  background-color: var(--background-color);
}
.navbar .mode .light-mode {
  color: #facc15;
  transition: var(--t-duration);
}
.navbar .mode .light-mode:hover {
  color: #f59e0b;
}
.navbar .mode .dark-mode {
  color: #38bdf8;
  transition: var(--t-duration);
}
.navbar .mode .dark-mode:hover {
  color: #0ea5e9;
}
.navbar .dropdown-menu .dropdown-item {
  color: var(--secondary-color);
  transition-duration: var(--t-duration);
}
.navbar .dropdown-menu .dropdown-item:hover {
  color: var(--link-hover-dark);
  background-color: transparent;
}
.navbar .navbar-collapse .btns-sm a {
  
}

/* End Nav */

/* .avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
} */

