{% extends 'core/base.html' %}
{% load static %}

{% block title %} About Us {% endblock %}

{% block content %}
<section class="about-sec pt-5 pb-5">
  <div class="container">
    <h2 class="main-title">About Us</h2>
    <div class="about text-center">
      <p class="lh-lg text-black-50"><span>NutriWay</span> is a dedicated digital platform created to revolutionize the
        way people approach nutrition. We connect users with certified nutrition specialists to help them achieve their
        health goals through personalized, science-backed solutions. Our mission is to provide a seamless and secure
        experience for users seeking to improve their eating habits, whether it’s for weight loss, muscle gain, or
        managing health conditions.
      </p>
    </div>
  </div>
</section>
<section class="spikes"></section>

<section class="our-mission-sec pt-5 pb-5">
  <h2 class="main-title">Our Mission</h2>
  <div class="container">
    <div class="our-mission text-center">
      <p class="lh-lg text-black-50">We aim to empower individuals with the tools, knowledge, and expert support they
        need to take control of their health through nutrition. NutriWay is built on trust, personalization, and
        accessibility—delivering a regionally focused service that respects users' cultural and dietary preferences.
      </p>
    </div>
  </div>
</section>
<section class="spikes1"></section>

<section class="our-story-sec pt-5 pb-5">
  <h2 class="main-title">Our Story</h2>
  <div class="container">
    <div class="our-story text-center">
      <p class="lh-lg text-black-50">NutriWay was born from a shared concern: the difficulty in finding reliable,
        personalized nutrition guidance in one place. We saw that many people were turning to generic diet plans,
        inconsistent advice, and apps that lacked local relevance. To solve this, we came together to build a platform
        that bridges the gap between users and certified specialists, offering real support, personalized plans, and
        progress tracking—all in one trusted space.
  
      </p>
    </div>
  </div>
</section>
<section class="spikes"></section>

<section class="team-member-sec pt-5 pb-5">
  <h2 class="main-title">Team Members</h2>
  <div class="container">
    <div class="team-member">
      <div class="row aligin-content-center">
        <div class="col-lg-4 col-md-6 mb-3 d-flex">
          <div class="card text-center">
            <div class="img"><img src="{% static 'images/developer.png' %}" alt=""></div>
            <div class="info">
              <h3>Nawaf Alahmadi</h3>
              <span class="role">Team Leader & Front-End Developer</span>
              <p class="description">Leads the project, develops the frontend, and contributes to backend development using Django.</p>              
            </div>
            <ul class="links">
              <li><a href="tel:966532053655" target="_blank"><i class="fa-solid fa-phone"></i></a></li>
              <li><a href="mailto:nawaf.m.alahmadi@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
              <li><a href="https://github.com/Nawaf-Alahmadi" target="_blank"><i class="fa-brands fa-github"></i></a></li>
              <li><a href="https://www.linkedin.com/in/nawaf-m-alahmadi" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3 d-flex">
          <div class="card text-center">
            <div class="img"><img src="{% static 'images/developer.png' %}" alt=""></div>
            <div class="info">
              <h3>Mohamad Alharbi</h3>
              <span class="role">Backend Developer</span>
              <p class="description">Contributed to backend development using Django.</p>
            </div>
            <ul class="links">
              <li><a href="tel:966506894014" target="_blank"><i class="fa-solid fa-phone"></i></a></li>
              <li><a href="mailto:mo.alharbi077@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
              <li><a href="https://github.com/mohamad044" target="_blank"><i class="fa-brands fa-github"></i></a></li>
              <li><a href="https://www.linkedin.com/in/mohammed-alharbi-4b0032221/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3 d-flex">
          <div class="card text-center">
            <div class="img"><img src="{% static 'images/developer.png' %}" alt=""></div>
            <div class="info">
              <h3>Raed Mulla</h3>
              <span class="role">Backend Developer & ORM</span>
              <p class="description">Contributed to backend development and ORM datebase using Django.</p>
            </div>
            <ul class="links">
              <li><a href="tel:966543005653" target="_blank"><i class="fa-solid fa-phone"></i></a></li>
              <li><a href="mailto:xraed20@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
              <li><a href="https://github.com/Raed-Mulla" target="_blank"><i class="fa-brands fa-github"></i></a></li>
              <li><a href="www.linkedin.com/in/raed-mulla-5893992b3" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3 d-flex">
          <div class="card text-center">
            <div class="img"><img src="{% static 'images/developer.png' %}" alt=""></div>
            <div class="info">
              <h3>Ali Alnemary</h3>
              <span class="role">Backend Developer</span>
              <p class="description">Implemented the Payment API and contributed to backend development using Django.</p>
            </div>
            <ul class="links">
              <li><a href="tel:966551804835" target="_blank"><i class="fa-solid fa-phone"></i></a></li>
              <li><a href="mailto:alialnemary-23@hotmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
              <li><a href="https://github.com/alimohammad213" target="_blank"><i class="fa-brands fa-github"></i></a></li>
              <li><a href="www.linkedin.com/in/ali-alnemary-3902a1258" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>

  
      </div>
    </div>
  </div>
</section>
<section class="spikes1"></section>

{% endblock %}