{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block redirct %} {% endblock %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="NutriWay connects users with certified nutritionists, offering personalized plans, progress tracking, and secure expert communication.">
  <title>{% block title %} None {% endblock %}</title>
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map' %}">
  <!-- Swiper CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

  <!-- Css Style File -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body class="position-relative">
  <nav id="" class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand fw-bold" href="{% url 'core:home_view' %}">NutriWay</a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#main"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars-staggered"></i>
      </button>
      <div class="collapse navbar-collapse text-center " id="main">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="{% url 'specialists:list_general_plan' %}">General Plans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'specialists:list_subscription_plan' %}">Subscription Plans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'specialists:all_specialists' %}">Specialists</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'core:calorie_calculator' %}">Calorie Calculator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'supports:contact_us' %}">Contact Us</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
          {% if user.director %}
          <div class="director d-block d-lg-none">
            <li class="nav-item"><a class="nav-link" href="{% url 'directors:Specialist_Request' %}">Specialist
                Request</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'directors:specialist_manage' %}">Specialist
                Manage</a></li>
          </div>
          {% endif %}
          {% if user.specialist %}
          <div class="specialist d-block d-lg-none">
            <li class="nav-item"><a class="nav-link" href="{% url 'specialists:my_plans' %}">My Plans</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'specialists:create_subscription_plan' %}">Craete
                Subscription Plan</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'specialists:create_general_plan' %}">Create General
                Plan</a></li>
          </div>
          {% endif %}
          {% if user.person %}
          <div class="user  d-block d-lg-none">
            <li class="nav-item"><a class="nav-link" href="{% url 'users:my_plans' %}">My Plans</a></li>
          </div>
          {% endif %}
        </ul>
        <!-- <div class="mode pe-2">
          <a href="{% url 'core:mode_view' 'light' %}?next={{request.path}}" class="light-mode"><i
              class="fa-solid fa-sun"></i></a>
          <a href="{% url 'core:mode_view' 'dark' %}?next={{request.path}}" class="dark-mode"><i
              class="fa-solid fa-moon"></i></a>
        </div> -->
        {% if user.is_authenticated %}
        {% if user.specialist %}
        <div class="dropdown d-none d-lg-block">
          <button class="btn dropdown-toggle border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user-doctor"></i>
          </button>

          <ul class="drop-links d-l dropdown-menu dropdown-menu-end ">
            <h6 class="dropdown-item mb-2">Welcome Mr.{{request.user.first_name}}</h6>
            <li><a class="dropdown-item" href="{% url 'accounts:profile_view' user.username %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'specialists:my_plans' %}">My Plans</a></li>
            <li><a class="dropdown-item" href="{% url 'specialists:create_subscription_plan' %}">Craete Subscription
                Plan</a></li>
            <li><a class="dropdown-item" href="{% url 'specialists:create_general_plan' %}">Create General Plan</a></li>
            <li class="logout"><a class="dropdown-item" href="{% url 'accounts:logout_view' %}">Logout</a></li>
          </ul>
        </div>
        {% endif%}

        {% if user.director %}
        <div class="dropdown d-none d-lg-block">
          <button class="btn dropdown-toggle border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user-doctor"></i>
          </button>

          <ul class="drop-links dropdown-menu dropdown-menu-end ">
            <h6 class="dropdown-item mb-2">Welcome Mr.{{request.user.first_name}}</h6>
            <li><a class="dropdown-item" href="{% url 'accounts:profile_view' user.username %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'directors:Specialist_Request'%}">Specialist Request</a></li>
            <li><a class="dropdown-item" href="{% url 'directors:specialist_manage' %}">Specialist Manage</a></li>
            <li class="logout"><a class="dropdown-item" href="{% url 'accounts:logout_view' %}">Logout</a></li>
          </ul>
        </div>
        {% endif%}
        {% if user.person %}

        <div class="dropdown d-none d-lg-block">
          <button class="btn dropdown-toggle border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-regular fa-user"></i>
          </button>

          <ul class="drop-links dropdown-menu dropdown-menu-end ">
            <h6 class="dropdown-item mb-2">Welcome Mr.{{request.user.first_name}}</h6>
            <li><a class="dropdown-item" href="{% url 'accounts:profile_view' user.username %}">Profile</a></li>

            <li><a class="dropdown-item" href="{% url 'users:my_plans' %}">My Plans</a></li>
            <li class="logout"><a class="dropdown-item" href="{% url 'accounts:logout_view' %}">Logout</a></li>
          </ul>
        </div>
        {% endif %}
        {% if user.is_superuser %}

        <div class="dropdown d-none d-lg-block">
          <button class="btn dropdown-toggle border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-regular fa-user"></i>
          </button>

          <ul class="drop-links dropdown-menu dropdown-menu-end ">
            <h6 class="dropdown-item mb-2">Welcome Mr.{{request.user.first_name}}</h6>
            <li class="logout"><a class="dropdown-item" href="{% url 'accounts:logout_view' %}">Logout</a></li>
          </ul>
        </div>
        {% endif %}

        <div class="btns-sm d-block d-lg-none text-center mt-2">
          {% if not user.is_superuser %}

          <a class="btn me-2 mb-2" href="{% url 'accounts:profile_view' user.username %}">Profile</a>
          {% endif %}
          <a class="btn mb-2" href="{% url 'accounts:logout_view' %}">Logout</a>
        </div>
        {% else %}
        <div class="drop-links border-0 dropdown d-none d-lg-block">
          <button class="btn nav-link dropdown-toggle p-md-2 " type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Sign up/ Sign in
          </button>
          <ul class="dropdown-menu p-3 dropdown-menu-end">
            <li><a class="dropdown-item" href="{% url 'accounts:user_register_view' %}">Sign up</a></li>
            <li><a class="dropdown-item" href="{% url 'accounts:login_view' %}">Sign in</a></li>
          </ul>
        </div>
        <div class="btns-sm d-block d-lg-none text-center mt-2">
          <a class="btn me-2 mb-2" href="{% url 'accounts:user_register_view' %}">Sign up</a>
          <a class="btn mb-2" href="{% url 'accounts:login_view' %}">Sign in</a>
        </div>

        {% endif %}
      </div>
    </div>
  </nav>
  <div id="nav"></div>

  {% if messages %}
  {% for message in messages %}
  <div class="message-container container">
    <div class="message alert {{message.tags}} alert-dismissible fade show mt-2" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  {% endfor %}
  {% endif %}

  <a href="#nav" id="scrollToTop" class="to-top position-fixed p-2 d-flex align-items-center justify-content-center">
    <i class="fa-solid fa-arrow-up"></i>
  </a>


  {% block content %}
  {% endblock %}
  <footer class="pt-3 pb-1">
    <h2 class="text-center">NutriWay</h2>
    <div class="container">
      <!-- <ul class="footer-links list-unstyled d-flex justify-content-center gap-3 mt-4 mb-3">
        <li><a href="" >Link 1</a></li>
        <li><a href="" >Link 1</a></li>
        <li><a href="" >Link 1</a></li>
        <li><a href="" >Link 1</a></li>
        <li><a href="" >Link 1</a></li>
        <li><a href="" >Link 1</a></li>
      </ul> -->
      <ul class="social list-unstyled d-flex justify-content-center gap-3 mt-4 mb-3">
        <li><a href="" ><i class="fa-brands fa-x-twitter"></i></a></li>
        <li><a href="" ><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="" ><i class="fa-brands fa-whatsapp"></i></a></li>
      </ul>
      <p class="text-center mb-0">© <span id="year"></span> NutriWay. All rights reserved.</p>

    </div>
  </footer>
  <!-- Font Awesome JS -->
  <script src="{% static 'js/all.min.js' %}"></script>
  <!-- Bootstarp JS -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js.map' %}"></script>
  <!-- JS Code -->
  <script>
    document.getElementById("year").textContent = new Date().getFullYear();
  </script>
  <script>

    const scrollBtn = document.getElementById('scrollToTop');

    window.addEventListener('scroll', () => {
      if (window.scrollY > 200) {
        scrollBtn.classList.add('show');
      } else {
        scrollBtn.classList.remove('show');
      }
    });

  </script>


</body>

</html>