{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="NutriWay connects users with certified nutritionists, offering personalized plans, progress tracking, and secure expert communication.">
  <title>{% block title %} None {% endblock %}</title>
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map' %}">
  <!-- Css Style File -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body class="position-relative">
  <nav id="nav" class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand fw-bold" href="{% url 'core:home_view' %}">NutriWay</a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#main"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars-staggered"></i>
      </button>
      <div class="collapse navbar-collapse text-center text-md-start" id="main">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'core:home_view' %}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'specialists:list_general_plan' %}">General Plans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'specialists:list_subscription_plan' %}">Subscription Plans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'specialists:all_specialists' %}">Specialists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'specialists:my_plans' %}">My Plans</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
        <div class="mode pe-2">
          <a href="{% url 'core:mode_view' 'light' %}?next={{request.path}}" class="light-mode"><i
              class="fa-solid fa-sun"></i></a>
          <a href="{% url 'core:mode_view' 'dark' %}?next={{request.path}}" class="dark-mode"><i
              class="fa-solid fa-moon"></i></a>
        </div>
        {% if user.is_authenticated %}
        <div class="dropdown d-none d-lg-block">
          <button class="btn dropdown-toggle border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user me-1"></i>
          </button>

          <ul class="dropdown-menu dropdown-menu-end ">
            <li><a class="dropdown-item" href="{% url 'accounts:profile_view' user.username %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'accounts:logout_view' %}">Logout</a></li>
          </ul>
        </div>
        <div class="btns-sm d-block d-lg-none text-center mt-2">
          <a class="btn me-2 mb-2" href="{% url 'accounts:profile_view' user.username %}">Profile</a>
          <a class="btn mb-2" href="{% url 'accounts:logout_view' %}">Logout</a>
        </div>
        {% else %}
        <div class="dropdown d-none d-lg-block">
          <button class="btn nav-link dropdown-toggle p-md-2 m-auto m-0" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Sign up/ Sign in
          </button>
          <ul class="dropdown-menu p-3 dropdown-menu-end">
            <li><a class="dropdown-item" href="{% url 'accounts:user_register_view' %}">Sign up</a></li>
            <li><a class="dropdown-item" href="{% url 'accounts:login_view' %}">Sign in</a></li>
          </ul>
        </div>
        <div class="btns-sm d-block d-lg-none text-center mt-2">
          <a class="btn me-2 mb-2" href="{% url 'accounts:user_register_view' %}">Sign up</a>
          <a class="btn mb-2" href="{% url 'accounts:login_view' %}">Sign in</a>
        </div>

        {% endif %}
      </div>
    </div>
  </nav>

  {% if messages %}
  {% for message in messages %}
  <div class="container mt-2">
    <div class="message alert {{message.tags}} alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  {% endfor %}
  {% endif %}

  <a href="#nav" id="scrollToTop" class="to-top position-fixed p-2 d-flex align-items-center justify-content-center">
    <i class="fa-solid fa-arrow-up"></i>
  </a>

  {% block content %}
  {% endblock %}
  <!-- Font Awesome JS -->
  <script src="{% static 'js/all.min.js' %}"></script>
  <!-- Bootstarp JS -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js.map' %}"></script>
  <!-- JS Code -->
  <script>
    const scrollBtn = document.getElementById('scrollToTop');

    window.addEventListener('scroll', () => {
      if (window.scrollY > 200) {
        scrollBtn.classList.add('show');
      } else {
        scrollBtn.classList.remove('show');
      }
    });

  </script>

</body>

</html>