{% extends 'core/base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
<section class="landing">
  <div class="slider-wrapper">
    <div class="slider">
      <div class="slide" style="background-image: url('static/images/home1.jpg');">
        <div class="overlay">
          <h2>Welcome to Our Site</h2>
          <a class="btn-a btn" href="">Learn More</a>
        </div>
      </div>
      <div class="slide" style="background-image: url('static/images/home2.jpg');">
        <div class="overlay">
          <h2>Our Services</h2>
          <a class="btn-a btn" href="">Learn More</a>
        </div>
      </div>
      <div class="slide" style="background-image: url('static/images/home3.jpg');">
        <div class="overlay">
          <h2>Contact Us</h2>
          <a class="btn-a btn" href="">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <button class="prev"><i class="fa-solid fa-chevron-left"></i></button>
  <button class="next"><i class="fa-solid fa-chevron-right"></i></button>
</section>
<section class="about pt-5 pb-5">
  <h2 class="main-title">About</h2>
  <div class="container">
    <p class="text-center text-black-50">
      NutriWay connects users with certified nutrition specialists to provide personalized nutrition plans, progress tracking tools, secure expert communication, and calorie calculators. Whether your goal is weight loss, muscle gain, or managing health conditions, NutriWay offers a seamless, trusted online experience to help you improve your eating habits.


    </p>
  </div>
</section>
<section class="services pt-5 pb-5 text-center" id="services">
  <h2 class="main-title">Our Services</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex mt-3">
        <div class="box d-flex flex-column justify-content-between flex-grow-1 rounded-lg bg-white p-4">
          <div class="img mb-3"><img src="{% static 'images/services1.jpg' %}" alt=""></div>
          <div class="info">
            <h3 class="fs-5">Certified Specialists</h3>
            <span class="text-black-50 d-block mt-2">Get expert guidance from trusted nutrition professionals.</span>
          </div>
          <a href="" class="btn btn-a mt-3 d-inline-block w-fit">Details</a>
        </div>
      </div>
        <div class="col-lg-4 col-md-6 d-flex mt-3">
        <div class="box d-flex flex-column justify-content-between flex-grow-1 rounded-lg bg-white p-4">
          <div class="img mb-3"><img src="{% static 'images/services2.jpg' %}" alt=""></div>
          <div class="info">
          <h3 class="fs-5">Personalized Plans</h3>
          <span class="text-black-50 d-block mt-2">Subscribe for custom meal plans tailored to your goals.</span>
        </div>
          <a href="" class="btn btn-a mt-3 d-inline-block  w-fit">Details</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex mt-3">
        <div class="box d-flex flex-column justify-content-between flex-grow-1 rounded-lg bg-white p-4">
          <div class="img mb-3"><img src="{% static 'images/services3.jpg' %}"  alt=""></div>
          <div class="info">
          <h3 class="fs-5">General Nutrition Plans</h3>
          <span class="text-black-50 d-block mt-2"> Access ready-made plans for common health and fitness goals.</span>
        </div>
          <a href="" class="btn btn-a mt-3 d-inline-block">Details</a>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
<section class="specialists pt-5 pb-5" id="specialists">
  <h2 class="main-title">Our Specialists</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3 position-relative one">
        <div class="box p-3">
          <div class="head d-flex justify-content-between pb-3 ">
            <div class="left d-flex  align-items-center">
              <div class="img me-2"><img src="static/images/profile.jpg" alt=""></div>
              <div class="name fs-6">Experts Nawaf <span class="fs-6 text-black-50 d-block">Drematology</span></div>
              
            </div>
            <div class="right badge">
              
              <span class="rating d-flex align-items-center  "><i class="fa-regular fa-star me-1"></i> 3.9</span>
            </div>
          </div>
          <div class="body text-center">
            <a href="" class="btn btn-a mt-3 d-inline-block">See Plans</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3 position-relative two ">
        <div class="box p-3">
          <div class="head d-flex justify-content-between pb-3 ">
            <div class="left d-flex align-items-center">
              <div class="img me-2"><img src="static/images/profile.jpg" alt=""></div>
              <div class="name fs-6">Experts Nawaf <span class="fs-6 text-black-50 d-block">Drematology</span></div>
              
            </div>
            <div class="right badge">
              
              <span class="rating d-flex align-items-center  "><i class="fa-regular fa-star me-1"></i> 3.9</span>
            </div>
          </div>
          <div class="body text-center">
            <a href="" class="btn btn-a mt-3 d-inline-block">See Plans</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3 position-relative three">
        <div class="box p-3">
          <div class="head d-flex justify-content-between  pb-3 ">
            <div class="left d-flex align-items-center">
              <div class="img me-2"><img src="static/images/profile.jpg" alt=""></div>
              <div class="name fs-6">Experts Nawaf <span class="fs-6 text-black-50 d-block">Drematology</span></div>
              
            </div>
            <div class="right badge">
              
              <span class="rating d-flex align-items-center  "><i class="fa-regular fa-star me-1"></i> 3.9</span>
            </div>
          </div>
          <div class="body text-center">
            <a href="" class="btn btn-a mt-3 d-inline-block">See Plans</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="specialists" id="specialists"></section>


<script>
   const slider = document.querySelector('.slider');
  const slides = document.querySelectorAll('.slide');
  let index = 0;

  function updateSlidePosition() {
    slider.style.transform = `translateX(-${index * 100}%)`;
  }

  document.querySelector('.prev').addEventListener('click', () => {
    index = (index - 1 + slides.length) % slides.length;
    updateSlidePosition();
  });

  document.querySelector('.next').addEventListener('click', () => {
    index = (index + 1) % slides.length;
    updateSlidePosition();
  });

  setInterval(() => {
    index = (index + 1) % slides.length;
    updateSlidePosition();
  }, 5000);
</script>






  
{% endblock %}