{% extends 'core/base.html' %}
{% block title %}General Plan Detail{% endblock %}

{% block content %}
<section class="subscription-details pt-5 pb-5">
    <h2 class="main-title">General Plans Details</h2>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow p-4">
                    <h2>{{ plan.name }}</h2>
                    <p><strong>Specialist:</strong> {{ plan.specialist.user.username }}</p>
                
                
                    <p><strong>Description:</strong> {{ plan.description }}</p>
                
                    {% if plan.detail %}
                    <p><strong>Details:</strong> {{ plan.detail }}</p>
                    {% endif %}
                    
                    <p><strong>Price:</strong> <img alt="Unicode 0x20C1.svg"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Unicode_0x20C1.svg/120px-Unicode_0x20C1.svg.png"
                        decoding="async" width="30px" class="mw-file-element"
                        srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Unicode_0x20C1.svg/180px-Unicode_0x20C1.svg.png 1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Unicode_0x20C1.svg/240px-Unicode_0x20C1.svg.png 2x"
                        data-file-width="16" data-file-height="16"> {{ plan.price|floatformat:0 }} </p>
                    
                
                    <form method="get" action="{% url 'payments:generalplan_summary' plan.id %}">
                        <button type="submit" class="btn-a d-block w-100 btn">Buy Now</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
