{% extends 'core/base.html' %}
{% load static %}
{% block title %} Subscription Plans {% endblock %}

{% block content %}
<section class="plans subscription-plans subscription-plans-sec pt-5 pb-5">
  <h2 class="main-title">Subscription Plans</h2>
  <div class="container">
    <form method="get" class="mb-4 filter">
      <div class="row">
        
        <div class="col-lg-3 mb-2 d">
          <label class="form-label fw-semibold">Plan Type</label>
          <select name="type" class="form-select" onchange="this.form.submit()">
            <option value="">All Types</option>
            {% for val, label in planType %}
              <option value="{{ val }}" {% if selected_type == val %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
          </select>
        </div>
    
        <div class="col-lg-3 mb-2">
          <label class="form-label fw-semibold">Specialist Gender</label>
          <select name="gender" class="form-select" onchange="this.form.submit()">
            <option value="">All Genders</option>
            {% for val, label in genderChoices %}
              <option value="{{ val }}" {% if selected_gender == val %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
          </select>
        </div>
    
        <div class="col-lg-3 mb-2">
          <label class="form-label fw-semibold">Sort By</label>
          <select name="sort" class="form-select" onchange="this.form.submit()">
            <option value="">Default</option>
            <option value="low" {% if selected_sort == 'low' %}selected{% endif %}>Price: Low to High</option>
            <option value="high" {% if selected_sort == 'high' %}selected{% endif %}>Price: High to Low</option>
          </select>
        </div>
      </div>
    </form>
    
    <div class="row">
      {% for plan in plans %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="box">
          <div class="name text-center position-relative p-3">{{ plan.specialist.user.username }}
            {% if specialist.image %}
            <img src="{{ specialist.image.url }}" alt="Not Found">
            {% else %}
            <img src="{% static 'images\default_profile.jpg' %}" alt="Not Found">
            {%endif%}
          </div>

          <div class="img">
            {% if plan.image %}
              <img src="{{plan.image.url}}" alt="Not Found" class="img-fluid">
            {% else %}
              <img src="{% static 'images\default_profile.jpg' %}" alt="Not Found">
            {%endif%}
          </div>
          <form method="get" action="{% url 'payments:subscription_summary' plan.id %}" class="row g-2">
            <div class="info p-3">
              <h3 class="subscription-name">{{plan.name}}</h3>
              <p class="description"><span>Description:</span> {{plan.description}}</p>
              <p class="type"> <span>Type: </span>{{plan.plan_type}}</p>
              <div class="duration d-flex align-items-center ">
              <select name="duration" class="p-1 border form-select" required>
                {% for val, label in duration_choices %}
                    <option value="{{ val }}" {% if val == '1_month' %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="price text-center mb-3 mt-3 fw-bold"> <img alt="Unicode 0x20C1.svg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Unicode_0x20C1.svg/120px-Unicode_0x20C1.svg.png" decoding="async" width="30px" class="mw-file-element" srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Unicode_0x20C1.svg/180px-Unicode_0x20C1.svg.png 1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Unicode_0x20C1.svg/240px-Unicode_0x20C1.svg.png 2x" data-file-width="16" data-file-height="16"> {{plan.price | floatformat:0}} <span> / per month</span></div> 
            <button type="submit" class="btn-a d-block w-100 btn">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}