{% extends 'core/base.html' %}
{% load static %}

{% block title %} General Plans {% endblock %}


{% block content %}
<section class="plans subscription-plans general-plans pt-5 pb-5">
  <h2 class="main-title">General Plans</h2>
  <div class="container">
    <form method="get" class="mb-4 filter">
      <div class="row">
        <div class="col-lg-3">
          <label for="filter" class="form-label fw-semibold">Sort by <i class="ms-1 fa-solid fa-filter"></i></label>
          <select id="filter" name="filter" class="form-select" onchange="this.form.submit()">
            <option value="">Choose</option>
            <option value="low" {% if selected_filter == 'low' %}selected{% endif %}>Low to High</option>
            <option value="high" {% if selected_filter == 'high' %}selected{% endif %}>High to Low</option>
          </select>
        </div>
      </div>
    </form>    
    <div class="row">
      {% for plan in plans %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="box">
          <div class="name text-center position-relative p-3">{{ plan.specialist.user.username }}<img src="{{plan.specialist.image.url}}" alt="Not Found"></div>
          <div class="info p-3">
            <h3 class="subscription-name">{{plan.name}}</h3>
            <p class="description"><span>Description:</span> {{plan.description}}</p>
            <div class="price text-center mb-3 mt-3 fw-bold"> <img alt="Unicode 0x20C1.svg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Unicode_0x20C1.svg/120px-Unicode_0x20C1.svg.png" decoding="async" width="30px" class="mw-file-element" srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Unicode_0x20C1.svg/180px-Unicode_0x20C1.svg.png 1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Unicode_0x20C1.svg/240px-Unicode_0x20C1.svg.png 2x" data-file-width="16" data-file-height="16"> {{plan.price}}</div>
            <a href="{% url 'payments:generalplan_summary' plan.id %}" class="btn d-block m-auto mb-2">Subscribe</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}

