{% extends 'core/base.html' %}
{% load static %}
{% block title %} Subscription Plans {% endblock %}

{% block content %}
<section class="plans subscription-plans pt-5 pb-5">
  <h2 class="main-title">Subscription Plans</h2>
  <div class="container">
    <form method="get" class="mb-4 filter">
      <div class="row">
        <div class="col-lg-3">
          <form action="{% url 'specialists:list_subscription_plan' %}" method="get">
            <label for="filter" class="form-label fw-semibold">Filter by <i class="ms-1 fa-solid fa-filter"></i></label>
            <select id="filter" name="filter" class="form-select" onchange="this.form.submit()">
              <option value="">Choose</option>
              <optgroup label="Type">
                {% for val, label in planType %}
                <option value="{{val}}">{{label}}</option>
                {% endfor %}
              </optgroup>
              <optgroup label="Sort by price">
                <option value="low">Low to High</option>
                <option value="high">High to Low</option>
              </optgroup>
              <optgroup label="Gender">
                {% for val, label in genderChoices %}
                <option value="{{ val }}">{{ label }}</option>
                {% endfor %}
              </optgroup>
            </select>
          </form>
        </div>
      </div>
    </form>
    <div class="row">
      {% for plan in plans %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="box">
          <div class="name text-center position-relative p-3">{{ plan.specialist.user.username }}<img src="{{plan.specialist.image.url}}" alt=""></div>
          <div class="img">
            <img src="{{plan.image.url}}" alt="" class="img-fluid">
          </div>
          <div class="info p-3">
            <h3 class="subscription-name">{{plan.name}}</h3>
            <p class="description"><span>Description:</span> {{plan.description}}</p>
            <p class="type"> <span>Type: </span>{{plan.plan_type}}</p>
            <div class="duration d-flex align-items-center ">
              <span class="me-1">Duration</span>
              <select name="duration " id="" class="p-1 border form-select" >
                <option value="">Duration</option>
                {% for val, label in duration_choices %}
                <option value="{{val}}">{{label}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="price text-center mb-3 mt-3 fw-bold">{{plan.price}}$</div>
            <a href="{% url 'payments:subscription_summary' plan.id %}" class="main-btn btn d-block m-auto mb-2">Subscribe</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}