{% extends "core/base.html" %}
{% load static %}

{% block title %} My Plans {% endblock %}



{% block content %}
<section class="plans my-subscriptions-plans pt-5 pb-5">
  <h2 class="main-title">My Plans</h2>
  <div class="container">
    <div class="row">
      {% for plan in plans %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="box">
          <div class="img">
            <img src="{{plan.image.url}}" alt="Not Found" class="img-fluid">
          </div>
          <div class="info p-3">
            <h3 class="subscription-name">{{plan.name}}</h3>
            <p class="type"> <span>Type of Subscription: </span>{{plan.plan_type}}</p>
            <div class="number-of-subscribers mb-3">Number of Subscribers: <span>{{plan.subscriber_count}}</span></div>
            <a href="{% url 'specialists:specialist_subscriptions' plan.id %}" class="btn d-block m-auto mb-2">View Subscribers</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="mt-4 text-center">
      <nav>
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
          {% endif %}
    
          <li class="page-item disabled">
            <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
          </li>
    
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</section>
<section class="plans subscription-plans general-plans pt-5 pb-5">
  <h2 class="main-title">General Plans</h2>
  <div class="container">
    <div class="row">
      {% for general_plan in general_plans%}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="box">
          <div class="info p-3">
            <h3 class="subscription-name">{{ general_plan.name }}</h3>
            <p class="description"><span>Description:</span> {{ general_plan.description }}</p>
            <p class="detail"><span>Detail:</span> {{ general_plan.detail }}</p>
            <a href="{% url 'specialists:general_plan_detail' general_plan.id %}" class="btn d-block m-auto mb-2">Details</a>
            
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</section>
{% endblock %}