{% extends 'core/base.html' %}
{% load static %}

{% block title %} All Specialists {% endblock %}




{% block content %}
<section class="plans subscription-plans pt-5 pb-5">
  <h2 class="main-title">All Specialists</h2>
  <div class="container">
    <form method="get" class="mb-4 filter">
      <div class="row">
        <div class="col-lg-3">
          <label for="gender" class="form-label fw-semibold">Gender</label>
          <select id="gender" name="gender" class="form-select" onchange="this.form.submit()">
            <option value="">All</option>
            {% for val, label in genderChoices %}
            <option value="{{ val }}" {% if selected_gender == val %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-lg-3">
          <label for="specialty" class="form-label fw-semibold">Specialty</label>
          <select id="specialty" name="specialty" class="form-select" onchange="this.form.submit()">
            <option value="">All</option>
            {% for val, label in specialtyChoices %}
            <option value="{{ val }}" {% if selected_specialty == val %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-lg-3">
          <label for="sort" class="form-label fw-semibold">Sort By</label>
          <select id="sort" name="sort" class="form-select" onchange="this.form.submit()">
            <option value="">Default</option>
            <option value="high rating" {% if selected_sort == "high rating" %}selected{% endif %}>Highest Rating</option>
            <option value="low rating" {% if selected_sort == "low rating" %}selected{% endif %}>Lower Rating</option>
          </select>
        </div>
      </div>
    </form>
    




    <div class="row">
      {% for specialist in specialists %}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="box">
          <div class="name text-center position-relative p-3">{{ specialist.user.username }}
            {% if specialist.image %}
            <img src="{{ specialist.image.url }}" alt="">
            <div class="right badge">

              <span class="rating d-flex align-items-center  "><i class="fa-regular fa-star me-1"></i> {{specialist.average_rating|floatformat:1}}</span>
            </div>
            {% else %}
            <img src="{% static 'images\default_profile.jpg' %}" alt="">
            {%endif%}

          </div>
          <div class="info p-3">
            <h3 class="subscription-name">{{plan.name}}</h3>
            <div class="age">Age: <span>{{specialist.birth_date}}</span></div>
            <div class="gender">Gender: <span>{{specialist.gender}}</span></div>
            <div class="specialty">Specialty: <span>{{specialist.specialty}}</span></div>
            <a href="{% url 'specialists:specialist_detail' specialist.id %}" class="btn d-block m-auto mb-2 mt-3">View
              More</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}