{% extends 'core/base.html' %}
{% load static %}
{% block title %} Details {% endblock %}

{% block content %} 
<section class="info-sec  pt-5 pb-5">
  <h2 class="main-title">Details</h2>

  <div class="container">
    <div class="row align-items-center ms-2 me-2 m-lg-0">
      <div class="col-lg-4 col-md-4 p-4">
        <div class="personal-info text-center">
          <img src="{{specialist.image.url}}" width="100px" class="mb-" alt="">
          <div class="full-name fs-3">{{specialist.user.first_name}} {{specialist.user.last_name}}</div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="profile-info">
          <div class="profile-info-row p-4 d-flex flex-wrap">
            <h4 class="fw-normal fs-5 w-100">General Inforamtion</h4>
            <div class="w-50 flex-fill">
              <span>Full Name:</span>
              <span>{{specialist.user.first_name}} {{specialist.user.last_name}}</span>
            </div>
            <div class="w-50 flex-fill">
              <span>Geneder:</span>
              <span>{{specialist.gender}}</span>
            </div>
          </div>
          <div class="profile-info-row p-4 d-flex flex-wrap">
            <h4 class="fw-normal fs-5 w-100">Personal Information</h4>
            <div class="w-50 flex-fill">
              <span>Email:</span>
              <span>{{specialist.user.email}}</span>
            </div>
            <div class="w-50 flex-fill">
              <span>Date of Birth:</span>
              <span>{{specialist.birth_date}}</span>
            </div>
          </div>
          <div class="profile-info-row p-4 d-flex flex-wrap">
            <h4 class="fw-normal fs-5 w-100"> Job Information</h4>
            <div class="w-50 flex-fill">
              <span>Specialty:</span>
              <span>{{specialist.specialty}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="certificates pt-5 pb-5">
  <h2 class="main-title">Specialization Certificate</h2>

  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="box p-3 d-flex align-items-center justify-content-between">
          <!-- {{ specialist.specialization_certificate }} -->
          <div class="name"> Specialization Certificate</div>
          <a href="{% url 'specialists:show_specialization_certificate_certificate' specialist.id %}" class="btn btn-a">View</a>

      </div>

    </div>
  </div>
</section>
{% if certificate%}
<section class="certificates pt-5 pb-5">
  <h2 class="main-title">Certificates</h2>

  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4">
        {% for certificat in certificate %}
        <div class="box p-3 d-flex align-items-center justify-content-between">
          <div class="name">{{certificat.name}}</div>
          <a href="{% url 'specialists:show_certificates' specialist.id %}" class="btn btn-a">View</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% if plans %}
<section class="plans subscription-plans pt-5 pb-5">
  <h2 class="main-title">Subscription Plans</h2>
  <div class="container">

    
    <div class="row">
      {% for plan in plans %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="box">
          <div class="name text-center position-relative p-3">{{ plan.specialist.user.username }}
            {% if specialist.image %}
            <img src="{{ specialist.image.url }}" alt="">
            {% else %}
            <img src="{% static 'images\default_profile.jpg' %}" alt="">
            {%endif%}
          </div>

          <div class="img">
            {% if plan.image %}
              <img src="{{plan.image.url}}" alt="" class="img-fluid">
            {% else %}
              <img src="{% static 'images\default_profile.jpg' %}" alt="">
            {%endif%}
          </div>
          <form method="get" action="{% url 'payments:subscription_summary' plan.id %}" class="row g-2">
            <div class="info p-3">
              <h3 class="subscription-name">{{plan.name}}</h3>
              <p class="description"><span>Description:</span> {{plan.description}}</p>
              <p class="type"> <span>Type: </span>{{plan.plan_type}}</p>
              <div class="duration d-flex align-items-center ">

              <select name="duration" class="p-1 border form-select" required>
                <option value="">Choose Duration</option>
                {% for value, label in duration_choices %}
                  <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="price text-center mb-3 mt-3 fw-bold"> <img alt="Unicode 0x20C1.svg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Unicode_0x20C1.svg/120px-Unicode_0x20C1.svg.png" decoding="async" width="30px" class="mw-file-element" srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Unicode_0x20C1.svg/180px-Unicode_0x20C1.svg.png 1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Unicode_0x20C1.svg/240px-Unicode_0x20C1.svg.png 2x" data-file-width="16" data-file-height="16"> {{plan.price}}</div>
            <button type="submit" class="btn-a d-block w-100 btn">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% endblock %}