{% extends 'core/base.html' %}

{% block title %} s {% endblock %}

{% block content %} 
<section class="subscriptions view-subscriptions pt-5 pb-5">
    
  <h2 class="main-title">Plan Name</h2>

  <div class="container">
    <div class="mb-4">
      <a href="{% url 'specialists:my_plans' %}" class="btn btn-a">
        <i class="fa fa-arrow-left me-2"></i> Back 
      </a>
    </div>
    <div class="row">
      {% for subscription in subscriptions %}
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="box p-4 text-center position-relative">
          <div class="d-flex align-items-center gap-3">
            <h2 class="mb-0">{{ plan.name }}</h2>
            <span class="badge rounded-pill 
              {% if subscription.status == 'active' %}bg-success
              {% elif subscription.status == 'expired' %}bg-secondary
              {% else %}bg-danger{% endif %}">
              {{ subscription.get_status_display }}
            </span>
          </div>
          <div class="name mb-3">{{ subscription.person.user.first_name }}</div>
          <div class="duration">Duration: <span>{{ subscription.get_duration_display }}</span></div>
          <div class="end-date">End Date: <span>{{ subscription.end_date }}</span></div>
          <div class="btns d-flex mt-3">
            {% if subscription.subscriber_plan %}
            <a href="{% url 'specialists:edit_subscriber_plan' subscription.subscriber_plan.id %}" class="btn btn-a flex-grow-1 me-1">Edit Plan</a>
            {% else %}
            <a href="{% url 'specialists:create_subscriber_plan' subscription.id %}" class="btn btn-a flex-grow-1 me-1">Create Plan</a>

            {% endif %}
            <a href="{% url 'users:subscription_detail' subscription.id %}" class="btn btn-a flex-grow-1 ">view details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="mt-4 text-center">
      <nav>
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
          {% endif %}
    
          <li class="page-item disabled">
            <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
          </li>
    
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>    
  </div>
</section>
{% endblock %}

            <!-- <a href="{% url 'specialists:'  %}" class="btn btn-a flex-grow-1 me-1 ">View Plan</a> -->
