{% extends 'core/base.html' %}

{% block title %} s {% endblock %}

{% block content %} 
<section class="subscriptions pt-5 pb-5">
  <h2 class="main-title">Plan Name</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="box p-4 text-center position-relative">
          <div class="name mb-3">Subscription Name</div>
          <div class="duration">Duration: <span>1 Month</span></div>
          <div class="end-date">End Date: <span>2020/2/2</span></div>
          <div class="btns d-flex mt-3">
            <a href="" class="btn btn-a flex-grow-1 me-1">Create Plan</a>
            <a href="" class="btn btn-a flex-grow-1 ">View Plan</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}